* {
    box-sizing: border-box;
}
.overbox {
    margin: 10px 10px 10px 10px;
    background-color: #aeaeae;
    border: 5px solid green;
}
.profilbox {
    background-color: rebeccapurple;
    width: 60px;
    height: 60px;
}
.midlebox {
    background-color: #aeaeae;
    margin: 10px 10px 10px 10px;
    width: 960px;
    height: 760px;
    border: 5px solid blue;
}
.eventbox {
    background-color: #aeaeae;
    margin: 10px 10px 10px 10px;
    width: 100px;
    height: 100px;
    border: 5px solid yellow;
}