* {
    box-sizing: border-box;
}
.overbox, .midlebox, .eventbox {
    margin: 10px 10px 10px 10px;
}
.overbox {
    background-color: #aeaeae;
    border: 5px solid green;
}
.profilbox {
    background-color: rebeccapurple;
    margin-left: 80%;
    width: 120px;
    height: 60px;
}
.search, .profilbox {
    display: inline-block;
    vertical-align: top;
}
.midlebox {
    background-color: #aeaeae;
    width: 70%;
    height: 760px;
    border: 5px solid blue;
}
.eventbox {
    background-color: #aeaeae;
    width: 27.5%;
    height: 100%;
    border: 5px solid yellow;
}
.eventbox, .midlebox {
    display: inline-block;
    vertical-align: top;
}