* {
    box-sizing: border-box;
}
.overbox, .midlebox, .eventbox, .projeckt, .searchbox, .img, .textonprojeckt, .info {
    border-radius: 7px;
}
.overbox, .midlebox, .eventbox, .info {
    margin: 10px 10px 10px 10px;
    padding: 5px;
    background-color: #aeaeaea6;
}
.overbox {
    display: flex;
    flex-wrap: nowrap;
    width: 98.9%;
    margin-top: 30px;
}
.searchbox {
    background-color: #00ffdd;
    width: 500px;
    height: 100px;
    padding: 6px;
    border-radius: 7px;
}
.profilbox {
    background-color: rebeccapurple;
    border-radius: 7px;
    margin-left: 50%;
    width: 400px;
    height: 100px;
}
.reserch_button {
    margin: 40px;
    margin-left: 150px;
}
.searchbox, .profilbox {
    display: inline-block;
    vertical-align: top;
}
.basicbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.midlebox {
    width: 70%;
    height: 760px;
    overflow: auto;
}
.eventbox {
    width: 27.5%;
    height: 760px;
}
.eventbox, .midlebox {
    display: inline-block;
    vertical-align: top;
}
.projeckt {
    display: flex;
    background-color: green;
    height: 200px;
    margin-top: 10px;
}
.textonprojeckt, .img {
    display: inline-block;
    vertical-align: top;
}
.img {
    margin: 5px 5px 5px 5px;
    border: 2px solid #00ffdd;
    height: 95%;
    width: auto;
}
.textonprojeckt {
    border: 2px solid #00ffdd;
    margin: 5px auto 5px ;
    height: min-content;
    width: max-content;
}
.textonprojeckt p {
    text-align: center;
}
.otstup {
    height: 20px;
}