body {
    background-color: rgb(228, 79, 79);
}
.name {
    display: inline-block;
    margin-left: 100px;
}
.id {
    position: absolute;
    margin-bottom: 90%;
}
.script {
    border: 3px solid black;
    border-radius: 3px;
    background-color: rgba(45, 177, 33, 0.288);
}
.proj {
    border: 2px solid #aeaeae;
    border-radius: 3px;
    display: inline-block;
    width: min-content;
    padding: 5px 5px 5px 5px;
}
b {
    margin-left: 100px;
}